{
 "extends": "airbnb-base",
  "rules": {
    "strict": 0,
    "quotes": [
      1,
      "single"
    ]
  },
  "ecmaFeatures": {
    "modules": true
  },
  "env": {
    "browser": true,
    "jquery": false,
    "es6": true,
    "mocha": true,
  },
  "parserOptions": {
        "sourceType": "module",
    }
}
